html, body {
  margin: 0;
  padding: 0;
}

.header-banner {
  height: 400px;
}

.header-banner-divider{
  height: 20px;
  margin-bottom: -350px;
  background: rgb(30,213,195);
  background: -moz-linear-gradient(90deg, rgba(30,213,195,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 53%, rgba(255,145,77,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(30,213,195,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 53%, rgba(255,145,77,1) 100%);
  background: linear-gradient(90deg, rgba(30,213,195,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 53%, rgba(255,145,77,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1ed5c3",endColorstr="#ff914d",GradientType=1);
}

.card-socials {
  background: rgb(255, 255, 255) !important;
}

.card-main {
}

.card-secondary {
}